*,::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Century Gothic", SansSerif;
    font-size: 62.5%;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(239, 239, 239, 0.9);
}

.wrapper{
    height: 100%;
    width: 70vw;
    margin: 2rem auto;
}

.wrapper .title{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 7rem;
    letter-spacing: 2.5px;
    color: rgba(0, 0, 0, 0.9);
    text-shadow:
            -1px -1px 0 rgba(255, 255, 255, 0.9),
            1px -1px 0 rgba(255, 255, 255, 0.9),
            1px 1px 0 rgba(255, 255, 255, 0.9),
            -1px 1px 0 rgba(255, 255, 255, 0.9);
}

.wrapper .title:hover{
    cursor: default;
}

.formulario-datos{
    display: block;
    width: 50%;
    margin: 12rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formulario-datos .sub-form-start{
    height: 50px;
    visibility: hidden;
}

.formulario-datos .sub-form-oculto{
    visibility: hidden;
    animation: animationOculto 1.2s;
    height: 50px;

}

@keyframes animationOculto {
    0%{
        height: 200px;
        visibility: hidden;
    }
    100%{
        height: 50px;
    }
}

.formulario-datos .sub-form-visible{
    animation: animationVisible 0.2s linear;
    visibility: visible;

}

@keyframes animationVisible {
    0%{
        height: 50px;
        visibility: hidden;
    }
    99%{
        visibility: hidden;
    }
    100%{
        height: 200px;
    }
}

.formulario-datos .sub-form input{
    width: 90%;
    margin: 1rem auto;
    line-height: 4rem;
    background: none;
    outline: 0;
    border: 0;
    color: white;
    font-size: 2.5rem;
}

/*.formulario-datos input:active{*/
/*    border-bottom: 2px solid rgba(255, 255, 255, 0.9);*/
/*    border-left: 2px solid rgba(255, 255, 255, 0.9);*/
/*}*/

/*.formulario-datos input:focus{*/
/*    border-bottom: 2px solid rgba(255, 255, 255, 0.9);*/
/*    border-left: 2px solid rgba(255, 255, 255, 0.9);*/
/*}*/

.formulario-datos .btn-add{
    margin: 1rem 0rem;
    background-color: #22C219;
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 3rem;
}

.formulario-datos .btn-show{
    background-color: dodgerblue;
}

.formulario-datos .btn-add-contact-oculto{
    visibility: hidden;
    animation:slide-rotate-horizontal-top 0.6s linear both;
}

.formulario-datos .btn-add-contact-visible{
    visibility: visible;
    animation:blur-in-expand 0.1s linear both;
}

.contactList{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;
    font-size: 2.5rem;
    align-items: center;
    animation:blur-in-expand 0.3s linear both;
}

.contact-removed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;
    font-size: 2.5rem;
    align-items: center;
    animation:blur-out-contract 0.3s linear both
}

.icon{
    color: tomato;
    cursor: pointer;
    font-size: 3.2rem;
}

.icon:hover{
    animation:vibrate 0.5s linear both infinite;
}

hr{
    margin: auto;
    width: 95%;
}

@keyframes slide-rotate-horizontal-top{0%{transform:translateY(0) rotateX(0deg);visibility: visible}100%{transform:translateY(-150px) rotateX(-90deg);visibility: visible}}

@keyframes vibrate{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}

@keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}

@keyframes blur-out-contract{0%{transform:scale(1);filter:blur(.01px);} 100%{transform:scale(0);filter:blur(12px);opacity:0}}

.swal2-popup {
    font-size: 1.8rem !important;
}




/* ----------------- ESTILO DE LOS INPUTS ----------------- */

.wave-group {
    position: relative;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #ffffff;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 90%;
}

.wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ffffff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}

/* -------------- MEDIA QUERIES -------------- */

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}